body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.header-right {
    display: flex;
}

button {
    background-color: #405D72;
    color: #F7E7DC;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}

#signup {
    margin-left: auto;
}

nav {
    background-color: #405D72;
    overflow: hidden;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
   margin-left: 40vh;
   gap:10vh;
    
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 10px;
}

nav ul li a:hover {
    background-color: #fff8f3;
    color:#405D72;
}
.side-navbar{
    position: absolute;
    background-color: #50748e;
    width:40vh;
    height:100vh;
    color:white;
    
}
.side-navbar h3{
    text-align: center;
}